body{
	font-family: 'Oswald', sans-serif;
background: black;
 margin: 0;
 padding: 0;
}
.menu{
 height: 60px;
 background: black;
 display: flex;
 justify-content: center;
}
nav{ 
width: 1170px;
background: #4c4f4e;
display: flex;
 justify-content: space-between;
}


nav a{
display: flex;
justify-content: center;
align-items: center;
width: 100%;
background: black;
color: white;
text-decoration: none;
font-size: 14px;
font-weight: 600;
transition: background 0,5s;
}

nav a:hover{
background: #8f9492;
}
.bunner{
	height: 400px;
	background: linear-gradient(rgba(0,0,0, 0.8),rgba(0,0,0, 0.3)), url('turntable-1109588_960_720.webp');
	background-size: 100%;
}

.banner>h1{
margin:0;
font-size: 80px;
}

.banner>h2{
margin:0;
font-size: 30px;
}

}
.hosting{
	height: 300px;
}
.hosting2{
	background: black;
	height: 303.50484000001;
	width: 50%;
	padding: 20px;
	
}
.hoosting3{
	background: black;
	height: 303.50484000001;
	width: 50%;
	color: white;
	text-align: right;
	border-left: 2px solid white;
	box-sizing: border-box;
	padding-top: 100px;
}
.footer{
	background: black;
}
h1{
	color: white;
} 
h2{
	color: white;
}
h4{
	color: white;
}
.main{
display: flex;

}
.left, .right{
width: 50%;
height: 800px;
}
a{
	color: white;
}
